*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
body{
	background: linear-gradient(to right, #eefc70, hsl(318, 100%, 50%));
}
.main{
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main .calculatorForm{
	position: relative;
	height: 450px;
	width: 400px;
	border:1px solid #000;
}
.main .calculatorForm .screen{
    background-color: #000;
    color: white;
    font-weight: 100;
}
.main .calculatorForm div{
	height: calc(450px/6);
	width: 100%;
	display: flex;
	flex:1;
}
.main .calculatorForm div input{
	height: 100%;
	width: 100%;
	font-size: 40px;
	font-weight: 400;
}